body {
  margin: 0%;
  height: 100vh;
  width: 100vw;
  font-family: "Single Day", cursive;
}

main {
  margin: 5% 10%;
  padding: 5% 10%;
  background-color: whitesmoke;
  border-radius: 9px;
}

.add-book-form {
  display: flex;
  justify-content: space-around;
  align-items: end;
  flex-wrap: wrap;
}

.input-box {
  display: flex;
  flex-direction: column;
}

input,
select {
  border-radius: 5px;
  padding: 5% 2%;
  font-family: "Single Day", cursive;
  font-size: large;
}

.submit-btn {
  background-color: white;
  border-radius: 5px;
  font-family: "Single Day", cursive;
  font-size: large;
}
.submit-btn:hover {
  background-color: lightslategray;
}

table tr td,
table tr td {
  text-align: center;
}
@media only screen and (max-width: 500px) {
  table,
  head,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    display: none;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
    min-height: 30px;
    overflow: hidden;
    word-break: break-all;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  }
  td:before {
    content: attr(data-title);
  }
}
